.navbar {
    padding: 12px 24px;
    position: fixed;
    width: 100%;
    top:0;left: 0;
    box-sizing: border-box;
    z-index: 99;
    background: white;
    display: grid;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    grid-template-columns: 200px 1fr auto;
}
.logo {
    img {
        cursor: pointer;
        width: 130px;
    }
}
.user {
    align-items: center;
    display: grid;
    grid-template-columns: 45px auto 80px;
    justify-content: start;
    column-gap: 16px;
    .initial {
        background: #f4f4f4;
        width: 45px;
        height: 45px;
        font-weight: 700;
        font-size: 16px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        box-sizing: border-box;
        text-transform: uppercase;
    }
    p {
        cursor: pointer;
        b {
            display: block;
        }
        span {
            display: block;
            font-size: 12px;
            color: #999;
        }
    }
    button {
        cursor: pointer;
        border:0;
        background: transparent;
        font-weight: 700;
        display: inline-block;
    }
}
.tools {
    display: grid;
    column-gap:  16px;
    align-items: center;
    grid-template-columns: 260px 50px 50px;
    .search {
        border:1px solid #ddd;
        border-radius: 5px;
        height: 46px;
        display: grid;
        overflow: hidden;
        align-items: center;
        grid-template-columns: 1fr 50px;
        input {
            height: 100%;
            display: block;
            padding: 0 12px;
            box-sizing: border-box;
            border: 0;
        }
        button {
            background: transparent;
            display: grid;
            place-items: center;
            width: 50px;
            height: 46px;
            cursor: pointer;
            border:0;
        }
    }
    .notification {
        position: relative;
        width: 50px;
        height: 50px;
        div {
            position: absolute;
            width: 6px;
            height: 6px;
            right: 5px;
            top: 5px;
            z-index: 2;
            border-radius: 50%;
            background: #C25B3A;
        }
        button {
            background: transparent;
        cursor: pointer;
            border: 0;
            width: 50px;
            position: absolute;
            z-index: 1;
            height: 50px;
            display: grid;
            place-items: center;
        }
    }
    .setting {
        border: 0;
        background: transparent;
        display: grid;
        cursor: pointer;
        place-items: center;
    }
}
.mobileMenu {
    display: none;
    border:1px solid #ddd;
    border-radius: 4px;
    place-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    img {
        width: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr 35px;
        box-sizing: border-box;
    }
    .mobileMenu {
        display: grid;
    }
    .user {
        display: none;
    }
    .tools {
        display: none;
        background: #000;
    }
}